em-input {
    display: inline-block;
    outline: 1px solid lavender;
    cursor: text;
    width: 150px;
    height: 24px;
    overflow: hidden;
    padding-left: 1px;
}
em-input value{
    position: relative;
    display: inline-block;
    min-width: 1px;
    width: auto;
    height: 100%;
}
em-input.focus {
    outline: 1px solid #5D9BCF;
}
em-input.focus value::before {
    position: absolute;
    right: -3px;
    top: 10%;
    content: '';
    width: 1px;
    height: 80%;
    background: black;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
}